<wr3d-scene class="audio-container" clear-color="0.0,0.0,0.0,1.0">

  <wr3d-canvas class="audio-canvas" scene=".audio-container"></wr3d-canvas>

  <wr3d-style wr-import="src/components/audio-player/audio-player.wrcss"></wr3d-style>

  <wr3d-dock class="page-anchor">
    <wr3d-object class="anchor-cube"></wr3d-object>
  </wr3d-dock>

  <wr3d-panel wr3d-display="false">
    <div class="song-title">
      <div>
        <div class="inline">Hi there</div>
        <button class="inline btn" ng-click="onNext()" ng-bind="buttonText"></button>
        <div class="inline">
          Lorem ipsum dolor sit amet, dicat adipiscing id sed. Qui natum euismod pertinacia eu, mei ad summo tempor sententiae.
        </div>
      </div>
    </div>
  </wr3d-panel>

  <wr3d-panel wr3d-display="true">
    <div class="main-content">
      <div>
        <div class="inline">Hi there</div>
        <button class="btn" ng-click="onNext()" ng-bind="buttonText"></button>
      </div>
    </div>
  </wr3d-panel>

</wr3d-scene>
