<div class="circuit-field-input-container">


  <div>
    <form role="form"  class="form-horizontal inputs">
      <div class="form-group run-type">
        <label class="control-label" for="run-type-select">
          Calculation type:
        </label>
        <div class="control-input">
          <select id="run-type-select" class="form-control">
            <option ng-repeat="(simName, simType) in simTypes">{{simType.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-repeat="inputType in simTypes[targetType].inputs">
        <label class="control-label" for="{{'input'+$index}}">
          <span ng-bind="inputType.name"></span><span ng-show="inputType.units.length > 0">&nbsp;</span><span ng-bind="formatUnits(inputType.units)"></span>:
        </label>
        <div class="control-input">
          <input type="number"
                 class="form-control"
                 id="{{'input'+$index}}"
                 placeholder="{{inputType.inputVarName}}"
                 ng-model="model[inputType.arg]"
                 min="{{inputType.min}}"
                 max="{{inputType.max}}"
                 step="{{inputType.step}}"
                 data-toggle="popover"
                 data-content="{{inputType.description}}">
        </div>
      </div>
      <div class="form-group run-button">
        <label class="control-label" for="run-type-select">
          Calculation type:
        </label>
        <div class="control-input">
          <a class="btn btn-primary btn-lg" role="button" ng-click="run()">
            Run
          </a>
        </div>
      </div>
    </form>
    <div class="preview-3d-display">
      <threejs-canvas use-tracking-controls scene="scene"></threejs-canvas>
    </div>
  </div>
</div>
