<div class="container">

  <div class="header"  ng-click="scrollToPi">

  </div>

  <div class="main">
    <div class="home-title">Nexus Logica</div>
    <background-video video-id="RgIxcrA7BfM"></background-video>
    <div class="title-container">
      <div class="pre-title">The web home of</div><div class="top-title">Lawrence Gunn</div>
    </div>

    <div class="page-menu">
      <div class="inline projects">Projects</div>
      <div class="inline dash">
        <div class="dash-box"></div>
      </div>
      <div class="inline items-container">
        <div class="items">
          <div class="item"><a href="#pi-anchor"><span class="pre">Pi </span><span class="sub">- a biological neuron simulator</span></a></div>
          <div class="item"><a href="javascript:void(0)"><span class="pre">White Rabbit </span><span class="sub">- 3D user interface technology</span></a></div>
          <div class="item"><a href="javascript:void(0)"><span class="pre">Inductance </span><span class="sub">- a biological neuron simulator</span></a></div>
          <div class="item"><a href="javascript:void(0)"><span class="pre">About </span><span class="sub">- a biological neuron simulator</span></a></div>
        </div>
        <div class="bracket">
        </div>
      </div>
    </div>
    <div class="preamble">
      This is the home page for the three of my projects. Two of these are simulators while White Rabbit is a 3D
      user interface technology being ported to WebGL. These are all currently works in progress.
    </div>
  </div>

  <div id="pi-anchor" class="about-pi">
    <div class="box-container">
      <div class="box">
       PI
      </div>
    </div>
  </div>

  <div class="about-wr3d">
    WR3D
  </div>

  <div class="about-inductance">
    Inductance
  </div>

  <div class="about-lawrence">
    Lawrence
  </div>

</div>
