<div class="home-container">

  <div class="header"  ng-click="scrollToPi">

  </div>

  <div class="main">
    <div class="home-title">Nexus Logica</div>
    <background-video video-id="RgIxcrA7BfM"></background-video>
    <div class="title-container">
      <div class="pre-title">The web home of</div><div class="top-title">Lawrence Gunn</div>
    </div>

    <div class="page-menu">
      <div class="inline projects">Projects</div>
      <div class="inline dash">
        <div class="dash-box"></div>
      </div>
      <div class="inline items-container">
        <div class="items">
          <div class="item"><a href="javascript:void(0)" ng-click="scrollToPi()"><span class="pre">Pi </span><span class="sub">- a biological neuron simulator</span></a></div>
          <div class="item"><a href="javascript:void(0)" ng-click="scrollToWr3d()"><span class="pre">White Rabbit </span><span class="sub">- 3D user interface technology</span></a></div>
          <!-- <div class="item"><a href="javascript:void(0)" ng-click="scrollToPi()"><span class="pre">Inductance </span><span class="sub">- a biological neuron simulator</span></a></div> -->
          <div class="item"><a href="javascript:void(0)" ng-click="scrollToLawrence()"><span class="pre">About Lawrence</span></a></div>
        </div>
        <div class="bracket">
        </div>
      </div>
    </div>
    <div class="preamble">
      This is the home page for the three of my projects. Two of these are simulators while White Rabbit is a 3D
      user interface technology being ported to WebGL. These are all currently works in progress.
    </div>
  </div>

  <div id="pi-anchor" class="about-pi">
    <div class="box-container">
      <div class="box">
      </div>
    </div>

    <div class="title">
      Pi Neuron Simulator
    </div>
    <div class="about">
      <p>Pi is a biological neuron simulator. The simulation is based on the belief that neurons are built of sets of functionally different
      sub-components. The sub-components can change their own operating state, and in turn affect the state and functionality of other comparments
      in the neuron.</p>
      <p>The goal of Pi is to be able to build simulations of cortical columns and micro-circuits, focusing mostly on collective behavior of the
      neurons.</p>
    </div>
    <div class="access">
      <div class="link">
        The sandbox is available <a href="http://nexuslogica.com/N/app/index.html">here</a>. The site may or may not be functional.
      </div>
      <div class="git">
        The project page is available on <a href="http://nexuslogica.github.io/N">GitHub</a>.
      </div>
    </div>
  </div>

  <div class="about-wr3d">

    <div class="text-container">
      <div class="title">
        <span class="wr">WhiteRabbit</span><span class="three-d">3D</span><span class="extra">HTML + CSS + 3D</span>
      </div>
      <div class="about">
        <p>The WhiteRabbit3D is a technology that allows standard 2 dimensional content to be easily laid out and positioned
          in 3D space. The WhiteRabbit browser is an implementation of this for HTML, where the 3D aspects are expressed as
          CSS styles, hence, CSS-3D. More content can be displayed on a page and the placement makes the information more
          readily understandable.</p>
      </div>
      <div class="access">
        <div class="link">
          The sandbox is available <a href="http://nexuslogica.com/N/app/index.html">here</a>. The site may or may not be functional.
        </div>
        <div class="git">
          The technology is currently being ported from OpenGL to WebGL. The project page on <a href="http://nexuslogica.github.io/WhiteRabbit3D">GitHub</a>.
          It is anticipated that the
        </div>
      </div>
    </div>

    <div class="image-carousel">
      <div style="height: 305px">
        <carousel interval="carouselInterval">
          <slide class="slide" ng-repeat="slide in slides" active="slide.active">
            <div class="image-container" ng-style="{'background-image':'url('+slide.image+')'}" style="margin:auto;"/>
            <div class="carousel-caption">
            </div>
          </slide>
        </carousel>
      </div>
    </div>

  </div>

  <!--
  <div class="about-inductance">
    Inductance
  </div>
  -->

  <div class="about-lawrence">
    <div class="title"><span class="about">about</span><span class="name"> Lawrence Gunn</span> </div>
    <a class="resume" href="http://www.nexuslogica.com/resume.html">Resume</a>
    <a class="linked-in" href="http://ca.linkedin.com/in/lawrencegunn/"></a>
    <div class="pic"></div>
    <div class="bio">
      <div class="bio-title">Bio</div>
      <div class="bio-text">
        <p>I'm a Canadian engineer with a graduate degree in Vehicle Dynamics and Control Systems. After racing Karts in
          Canada and abroad I moved to England where I was manager and lead dynamicist of the Vehicle Dynamics department
          at Reynard Motorsport. I working on their Indy Car, Le Mans, Formula Nippon, and American Le Mans projects as
          well as being contracted to British American Formula 1 Team.</p>
        <p>After leaving racing I moved to Silicon Valley, working for SideStep, Athoc, Amazon's A9 and YouSendIt, later
          renamed Hightail.</p>
        <p>I've maintained an interest in 3D user interfaces, outrigger canoe boath and paddle design, and from my Master's
          a longer term investigation into neurosciences, mainly cortical dynamics and learning. A recent diversion has been an exploration of
          molecular level inductive interactions among bond electrons.</p>
      </div>
    </div>
  </div>

</div>
