<div class="bach-studies-container">
  <div class="run-container">
    <div class="button-container">
      <a class="btn btn-primary btn-lg" role="button" ng-click="run()">
        Run
      </a>
    </div>

    <div class="status">
      <div class="success" ng-show="success && showStatus">Success</div>
      <div class="error" ng-show="!success && showStatus">Error</div>
    </div>

    <bach-tabular-output ng-show="simulation.data" simulation-data="simulation.data">

    </bach-tabular-output>

  </div>
</div>
